In [13]:
fruits = ['apple','orange','banana','durian','pineapple','kiwi','ciku','papaya','peach']

In [14]:
for item in fruits:  #use for loop to find a given fruit name in the list
    print (item)

apple
orange
banana
durian
pineapple
kiwi
ciku
papaya
peach

In [6]:
type(fruits)

list

In [7]:
len(fruits)

4

In [8]:
index = 0 
for item in fruits:
    print (item,index)
    index +=1

apple 0
orange 1
banana 2
durian 3

In [19]:
index_1 = 1
for item in fruits:
    if 'apple' == item:
        print('the item apple is in the list at index',index_1)
    if 'apple' in item:
        print('the item apple is in the list at index',index_1)
    print (item,index_1)
    print ("The fruit name is",item,"at index:",index_1)
    index_1 = index_1 + 1

the item apple is in the list at index 1
the item apple is in the list at index 1
apple 1
The fruit name is apple at index: 1
orange 2
The fruit name is orange at index: 2
banana 3
The fruit name is banana at index: 3
durian 4
The fruit name is durian at index: 4
the item apple is in the list at index 5
pineapple 5
The fruit name is pineapple at index: 5
kiwi 6
The fruit name is kiwi at index: 6
ciku 7
The fruit name is ciku at index: 7
papaya 8
The fruit name is papaya at index: 8
peach 9
The fruit name is peach at index: 9

In [20]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [21]:
for x in range(1,101):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [28]:
count = 0
while (count<=10):
    if count % 2 == 0:
        print ("this is even number: ",count)
    if count % 2 != 0:
        print ("this is odd number: ",count) 
    if count == 8:
        break
    count +=1

this is even number:  0
this is odd number:  1
this is even number:  2
this is odd number:  3
this is even number:  4
this is odd number:  5
this is even number:  6
this is odd number:  7
this is even number:  8

In [30]:
for num in range(5):
    if num == 2:
        continue
    print(num)

0
1
3
4

In [31]:
for i in range(3):
    for j in range(1,3):
        print (i,j)

0 1
0 2
1 1
1 2
2 1
2 2

In [36]:
import math

for i in range(6):
    for j in range(1,6):
        print (i, "^",j,"=", math.pow(i,j))
        print("------")

0 ^ 1 = 0.0
------
0 ^ 2 = 0.0
------
0 ^ 3 = 0.0
------
0 ^ 4 = 0.0
------
0 ^ 5 = 0.0
------
1 ^ 1 = 1.0
------
1 ^ 2 = 1.0
------
1 ^ 3 = 1.0
------
1 ^ 4 = 1.0
------
1 ^ 5 = 1.0
------
2 ^ 1 = 2.0
------
2 ^ 2 = 4.0
------
2 ^ 3 = 8.0
------
2 ^ 4 = 16.0
------
2 ^ 5 = 32.0
------
3 ^ 1 = 3.0
------
3 ^ 2 = 9.0
------
3 ^ 3 = 27.0
------
3 ^ 4 = 81.0
------
3 ^ 5 = 243.0
------
4 ^ 1 = 4.0
------
4 ^ 2 = 16.0
------
4 ^ 3 = 64.0
------
4 ^ 4 = 256.0
------
4 ^ 5 = 1024.0
------
5 ^ 1 = 5.0
------
5 ^ 2 = 25.0
------
5 ^ 3 = 125.0
------
5 ^ 4 = 625.0
------
5 ^ 5 = 3125.0
------